<div class="inquiry_container">
  <h1>お問合わせフォーム</h1>
  ※ 送信頂いた内容は、回答とサービスの改善に利用させていただきます。
  <%= form_for @inquiry, url: inquiry_index_path do |form| %>
    <div>
      <h2>サポートからの返信・回答用の情報</h2>
      <% form.label :user_name %>
      <%= form.text_field :user_name, placeholder: '氏名' %>
    </div>
    <div>
      <% form.label :target_url %>
      <%= form.text_field :target_url, placeholder: '問い合わせしたいページのURL' %>
    </div>
    <div>
      <% form.label :email %>
      <%= form.text_field :email, placeholder: 'Emailアドレス' %>
    </div>
    <h2>サポートへの問い合わせ内容</h2>
    <div>
      <% form.label :inquiry_text %>
      <%= form.text_area :inquiry_text, placeholder: 'お問合わせの内容' %>
    </div>
    <div>
      <%= button_tag type: 'submit' do %>
        投稿する
      <% end %>
    </div>
  <% end %>
</div>
