<div class="index_container">
  <div class="content">
    <div class="catch">
      <h1 class="catch_phrase">出会えなかった筈の物語が、此処にある</h1>
    </div>
  </div>
  <div class="content">
    <div class="pickup">
      <h2>Pickup phrase</h2>
      <p>
        親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
      <p>
    </div>
  </div>
  <div class="content">
    <div class="content_detail">
      <h2>レビュー</h2>
      <!--ここにrender partial: reviewsを入れる-->
      <div class="reviewed_book">
        <div class="float_container float_clear">
          <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
          <div class="book_visual float_left">
            <%= image_tag("01_readablecode.jpg", size: "100x150") %>
          </div>
          <div class="user_review">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="reviewed_book">
        <div class="float_container float_clear">
          <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
          <div class="book_visual float_left">
            <%= image_tag("01_readablecode.jpg", size: "100x150") %>
          </div>
          <div class="user_review">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="reviewed_book">
        <div class="float_container float_clear">
          <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
          <div class="book_visual float_left">
            <%= image_tag("01_readablecode.jpg", size: "100x150") %>
          </div>
          <div class="user_review">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="reviewed_book">
        <div class="float_container float_clear">
          <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
          <div class="book_visual float_left">
            <%= image_tag("01_readablecode.jpg", size: "100x150") %>
          </div>
          <div class="user_review">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="reviewed_book">
        <div class="float_container float_clear">
          <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
          <div class="book_visual float_left">
            <%= image_tag("01_readablecode.jpg", size: "100x150") %>
          </div>
          <div class="user_review">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
